production/
release/
assets/saved-game.json

# IntelliJ
.idea/
*.iml

## Copied assets
/assets/core/
/assets/pcard/

## Gradle
/local.properties
.gradle/
build/

## Android
/android/src/main/jniLibs/*/libgdx.so
/android/gen/
/android/src/main/assets

## OS Specific
.DS_Store
Thumbs.db
