production/
assets/saved-game.json

## Android Studio and Intellij and Android in general
/android/src/main/jniLibs/*/libgdx.so
/android/gen/
/android/src/main/assets
.idea/
*.iml

## Gradle
/local.properties
.gradle/
build/

## Copied assets
/assets/core/
/assets/pcard/
/android/assets/

## OS Specific
.DS_Store
Thumbs.db
